body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#chat-box {
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    height: 100%;
}

#chat-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

#message-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    padding: 10px;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    width:200px;
}

.message .profile-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.message .message-content {
    flex: 1;
    background-color: #f0f0f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding:5px 10px;
    max-width:300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.message .user-info {
    font-weight: bold;
    margin-bottom: 5px;
    width:180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}


#user-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    width: calc(100% - 20px);
}

#username{
    width:100px;
    text-align: center;
}

#message-input {
    width: calc(100% - 90px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#send-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    width:70px
}

.my-msg{
    text-align: end;
}