<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/public/css/layout.css">
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link rel="stylesheet" href="/public/css/board/board_list.css">
    <link rel="stylesheet" href="/public/css/board/board_detail.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <span class="header-logo logo"><a href="/">Chatta</a></span> 
        <ul class="header-menu">
            <li><a href="/post/new">게시판 등록</a></li>
        </ul>
        <div class="header-profie">
            <div class="profile"  onclick="toggleHeaderProfile()">
                <img src="https://kdt9-justin.s3.ap-northeast-2.amazonaws.com/test_1280.jpg" alt="profile_image" />
            </div>
            <ul class="header-profile-tab">
                <li id="mobileView"><a href="/post/new">게시판 등록</a> </li>
                <li><a href="/profile">프로필</a> </li>
                <li><button type="button" onclick="">로그아웃</button></li>
            </ul>
        </div>
    </header>
    <div class="main-content">
        <div class="wrap" id="wrap"> </div>
        <div class="board-detail-modal" id="boardDetailModal"></div>
    </div>
    <footer class="footer-body">
            <div class="footer-left">
                <div class="logo">chatta</div>
                <p class="footer-home">
                <a href="/" class="link-1">Home</a>
                <a class = "utube" href="/"> | <img src="../public/youtube icon.png" style="width: 20px; position: relative; top: 5px;"/></a>
                <a class = "facebook" href="/"> | <img src="../public/facebook icon.png" style="width: 20px; position: relative; top: 5px;"/></a>
                </p>    
                <hr>
                <p class="footer-project-info">
                    <span>back-end socket project</span>
                    실시간 채팅 및 동시 영상시청 웹 애플리케이션
                    
                </p> 
            </p>
                <p class="footer-team-name">Copyright © 2023 socket-chat project</p>
            </div>

            <div class="footer-space">
            </div>

            <div class="footer-git">
            <div>
                <p>김민영</p>
            </div>
            <div>
                <p><a href="https://github.com/raddadda"><img src="../public/git icon.png" style="width: 20px; position: relative; top: 5px;"> github.com/raddadda</a>
            </div>
            <div>
                <p>김성제</p>
            </div>
            <div>
                <p><a href="https://github.com/raddadda"><img src="../public/git icon.png" style="width: 20px; position: relative; top: 5px;"> github.com/raddadda</a>
            </div>
            <div>
                <p>류승기</p>
            </div>
            <div>
                <p><a href="https://github.com/raddadda"><img src="../public/git icon.png" style="width: 20px; position: relative; top: 5px;"> github.com/raddadda</a>
            </div>
            <div>
                <p>정인근</p>
            </div>
            <div>
                <p><a href="https://github.com/raddadda"><img src="../public/git icon.png" style="width: 20px; position: relative; top: 5px;"> github.com/raddadda</a>
            </div>
            <div>
                <p>최영찬 </p>
            </div>
            <div>
                <p><a href="https://github.com/raddadda"><img src="../public/git icon.png" style="width: 20px; position: relative; top: 5px;"> github.com/raddadda</a>
            </div>
        </div>
    </footer>
<script>
    function toggleHeaderProfile () {
        const headerProfile = document.querySelector('.main-header > .header-profie > .header-profile-tab');
        if (window.getComputedStyle(headerProfile).display === 'none') {
            headerProfile.style.display = 'block';
        } else {
            headerProfile.style.display = 'none';
        }
    }
</script>
<script src="/public/js/board/board_CRUD.js"></script>
<script src="/public/js/board/board_svg.js"></script>
<script>

    let list = [];
    let page_id = 0;

    var currentDirection = ''; // 현재의 방향을 나타내는 변수
    var lastScrollTop = 0; // 방향을 구하기 위해 사용되는 변수
    ( async function() {
        
        getbaordPagenation();
        window.addEventListener('scroll', ()=>{
            
                let scrollTop = window.scrollY;
                let innerHeight = window.innerHeight;
                let scrollHeight = document.body.offsetHeight;
            
                if ( scrollTop + innerHeight >= scrollHeight){
                    console.log("스크롤");
                    if(currentDirection != 'down'){
                        getbaordPagenation();
                        currentDirection = 'down';
                        console.log(currentDirection+' 실행 !!!!');
                     
                    }
                }else{
                    if(currentDirection != 'up'){
                        currentDirection = 'up';
                        console.log(currentDirection+' 실행 !!!!');
                    }
                }
                lastScrollTop = scrollTop;
        })

        }
    )()
    async function getbaordPagenation(){

        try {
            const findAllData = await boradFindAll_pagination(page_id);
                if (findAllData.length > 0) {
                    const wrap = document.querySelector("#wrap");
                  
                   
                    let boxhtml = ``;
                    for (let i=0; i<findAllData.length; i++){
                        let date = new Date(`${findAllData[i].createdAt}`);
                        list.push(findAllData[i]);
                        const data = {
                            category : findAllData[i] && findAllData[i].category ? findAllData[i].category : '',
                            title :  findAllData[i] && findAllData[i].title ? findAllData[i].title : '',
                            views : findAllData[i] && findAllData[i].views ? findAllData[i].views : 0,
                            createAt: `${date.getFullYear()}-${(date.getMonth() + 1)>= 10 ? (date.getMonth() + 1) : '0' + (date.getMonth() + 1) }-${date.getDate() >= 10 ? date.getDate() : '0' + date.getDate()} ${date.getHours()}시`
                        }
        
                        if(i%2==0){
                            boxhtml += `
                        <div class="imgFlex1" onclick="loadDetailModal(${i})">
                            <div class="roomImg"></div>
                            <div class="boardInfo">
                                <div class="boxBordCategory">${data.category}</div>
                                <div class="boxTitle">${data.title}</div><br>
                                <div class="boxCreateAt">${data.createAt}</div>
                                <div class="boxViews"><img src="../public/view icon.png" style="width: 20px; position: relative; top: 5px" >${data.views}</div>      
                            </div>
                        </div>
                        `;  
                        } else{
                            boxhtml += `
                        <div class="imgFlex2" onclick="loadDetailModal(${i})">
                            <div class="roomImg"></div>
                            <div class="boardInfo">
                                <div class="boxBordCategory">${data.category}</div>
                                <div class="boxTitle">${data.title}</div><br>
                                <div class="boxCreateAt">${data.createAt}</div>
                                <div class="boxViews"><img src="../public/view icon.png" style="width: 20px; position: relative; top: 5px" >${data.views}</div>      
                            </div>
                        </div>
                        `;  
                        }
                        if (findAllData.length === i + 1) {
                            page_id = findAllData[i].id + 1;
                        }

                    }
                wrap.innerHTML += boxhtml;
            }

        } catch (e) {
        }
    }

    function loadDetailModal (index) {
        
        const data = {
            id : list[index] && list[index].id ? list[index].id : 0,
            poster_check : list[index] && list[index].poster_check ? list[index].poster_check : false,
            category : list[index] && list[index].category ? list[index].category : '',
            content: list[index] && list[index].content ? list[index].content : '',
            title :  list[index] && list[index].title ? list[index].title : '',
            views : list[index] && list[index].views ? list[index].views : 0,
            event_time : list[index] && list[index].event_time.split('T')[0]? list[index].event_time.split('T')[0] : '',
            book_mark : list[index] && list[index].book_mark ? list[index].book_mark : false
        }
        console.log("list[index]",data.list[index]);
        let modal = document.getElementById('boardDetailModal');
        modal.style.display = 'block'
        modal.innerHTML = `
            <div class="board-modal-close" onclick="modalCloase()">
                <img src= "https://kdt9-justin.s3.ap-northeast-2.amazonaws.com/close.png"
                    alt="close_img"
                />
            </div>
            <div class="bd-image"></div>
            <div class="board-detail-contents">
                <div class="bd-info">
                    <div class="bd-info_category"> ${data.category}</div>
                    <h2 class="bd-info_title">${data.title}</h2>
                    <div class="bd-book_mark" onclick= "postBookMark(${data.id},${data.book_mark})">
                        ${getBookMarkSvg(data.book_mark)}
                    </div>
                </div>
                <div id="eventDetailSubInfo" class="bd-sub-content">
                    <div class="txt-box">
                        <h6>내용</h6>
                        <p>${data.content}</p>
                    </div>
                    <div class="txt-box">
                        <h6>흥보 시간</h6>
                        <p>${data.event_time}</p>
                    </div>

                    <div class="txt-box">
                        <h6>채팅방</h6>
                        <p><button onclick='chatRoomJoin(${data.id})'>입장하기</button><p>
                    </div>
                    ${data.poster_check === true ? 
                        `<div class="button-box">
                            <button type="button" onclick = "boardModified(${data.id})">수정하기</button>
                            <button type="button" onclick = "boardDelete1(${data.id})">삭제하기</button>
                        </div>`
                        : 
                        ''
                    }
                </div>
               
            </div>
        `
    }
    

    function modalCloase () {
        document.getElementById('boardDetailModal').style.display = 'none';
    }

    function boardModified (id) {

        if(!confirm('수정페이지로 넘어가겠습니까?')) return;

        // 페이지 이동
        window.location.href = `/post/edit/${id}`

    }

    async function boardDelete1 (id) {

        if (!confirm('정말로 삭제하시겠습니까?')) return;
        try {
            const deleteRes = await boardDelete(id);
            console.log('deleteRes', deleteRes);
            if (deleteRes) {
                alert('삭제가 되었습니다.');
                window.location.reload();
            } else {
               return alert('다시 시도해 주세요.');
            }
            
        } catch (e) {
            alert('잠시 후에 시도해주세요.');
        }
    }

    async function chatRoomJoin(board_id){
            const res = await axios({
                method: "post",
                url: "/chat/join",
                data: {
                    room_id:board_id,
                }
            })
            if (res.data.result) {
                alert('채팅방에 참여했습니다')
                document.location.assign('/mychat')
            }
        }
</script>
</body>
</html>