<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../public/css/board/board_list.css">
    <link rel="stylesheet" href="../public/css/board/board_detail.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    
    <!-- <button id="view">더보기</button> -->

    

<div class="wrap" id="wrap"> </div>
<div class="board-detail-modal" id="boardDetailModal"></div>

<script src="../public/js/board/board_CRUD.js"></script>
<script src="../public/js/board/board_svg.js"></script>
<script>

    let list = [];
    let page_id = 0;

    var currentDirection = ''; // 현재의 방향을 나타내는 변수
    var lastScrollTop = 0; // 방향을 구하기 위해 사용되는 변수
    ( async function() {
        
        getbaordPagenation();
        window.addEventListener('scroll', ()=>{
                let scrollTop = window.scrollY;
                let innerHeight = window.innerHeight;
                let scrollHeight = document.body.offsetHeight;
            
                if ( scrollTop + innerHeight - 100 >= scrollHeight){
                    if(currentDirection != 'down'){
                        getbaordPagenation();
                        currentDirection = 'down';
                        console.log(currentDirection+' 실행 !!!!');
                     
                    }
                }else{
                    if(currentDirection != 'up'){
                        currentDirection = 'up';
                        console.log(currentDirection+' 실행 !!!!');
                    }
                }
                lastScrollTop = scrollTop;
        })

        }
    )()
    async function getbaordPagenation(){

        try {
            const findAllData = await boradFindAll_pagination(page_id);
                if (findAllData.length > 0) {
                    const wrap = document.querySelector("#wrap");
                    let boxhtml = ``;
                    for (let i=0; i<findAllData.length; i++){
                        list.push(findAllData[i]);
                
                        const data = {
                            bord_category : findAllData[i] && findAllData[i].bord_category ? findAllData[i].bord_category : '',
                            title :  findAllData[i] && findAllData[i].title ? findAllData[i].title : '',
                            views : findAllData[i] && findAllData[i].views ? findAllData[i].views : 0,
                            createAt : findAllData[i] && findAllData[i].createdAt.split('T')[0]? findAllData[i].createdAt.split('T')[0] : '',
                        }
                        
                        if(i%2==0){
                            boxhtml += `
                        <div class="imgFlex1" onclick="loadDetailModal(${i})">
                            <div class="roomImg"></div>
                            <div class="boardInfo">
                                <div class="boxBordCategory">${data.bord_category}</div>
                                <div class="boxTitle">${data.title}</div>
                                <div class="boxCreateAt">${data.createAt}</div>
                                <div class="boxViews">${data.views}</div>      
                            </div>
                        </div>
                        `;  
                        } else{
                            boxhtml += `
                        <div class="imgFlex2" onclick="loadDetailModal(${i})">
                            <div class="roomImg"></div>
                            <div class="boardInfo">
                                <div class="boxBordCategory">${data.bord_category}</div>
                                <div class="boxTitle">${data.title}</div>
                                <div class="boxCreateAt">${data.createAt}</div>
                                <div class="boxViews">${data.views}</div>      
                            </div>
                        </div>
                        `;  
                        }
                        if (findAllData.length === i + 1) {
                            page_id = findAllData[i].id + 1;
                        }

                    }
                wrap.innerHTML += boxhtml;
            }

        } catch (e) {
        }
    }

    function loadDetailModal (index) {

        const data = {
            id : list[index] && list[index].id ? list[index].id : 0,
            poster_check : list[index] && list[index].poster_check ? list[index].poster_check : false,
            bord_category : list[index] && list[index].bord_category ? list[index].bord_category : '',
            content: list[index] && list[index].content ? list[index].content : '',
            title :  list[index] && list[index].title ? list[index].title : '',
            views : list[index] && list[index].views ? list[index].views : 0,
            event_time : list[index] && list[index].event_time.split('T')[0]? list[index].event_time.split('T')[0] : '',
            book_mark : false
        }
        
        let modal = document.getElementById('boardDetailModal');
        modal.style.display = 'block'
        modal.innerHTML = `
            <div class="board-modal-close" onclick="modalCloase()">
                <img src= "https://kdt9-justin.s3.ap-northeast-2.amazonaws.com/close.png"
                    alt="close_img"
                />
            </div>
            <div class="bd-image"></div>
            <div class="board-detail-contents">
                <div class="bd-info">
                    <div class="bd-info_category"> ${data.bord_category}</div>
                    <h2 class="bd-info_title">${data.title}</h2>
                    <div class="bd-book_mark" onclick= "bookMarkToggle()">
                        ${getBookMarkSvg(data.book_mark)}
                    </div>
                </div>
                <div id="eventDetailSubInfo" class="bd-sub-content">
                    <div class="txt-box">
                        <h6>내용</h6>
                        <p>${data.content}</p>
                    </div>
                    <div class="txt-box">
                        <h6>흥보 시간</h6>
                        <p>${data.event_time}</p>
                    </div>

                    <div class="txt-box">
                        <h6>채팅방</h6>
                        <p><button>입장하기</button></p>
                    </div>
                    ${data.poster_check === true ? 
                        `<div class="button-box">
                            <button type="button" onclick = "boardModified(${data.id})">수정하기</button>
                            <button type="button" onclick = "boardDelete(${data.id})">삭제하기</button>
                        </div>`
                        : 
                        ''
                    }
                </div>
               
            </div>
        `
    }
    
    function modalCloase () {
        document.getElementById('boardDetailModal').style.display = 'none';
    }

    function boardModified (id) {

        if(!confirm('수정페이지로 넘어가겠습니까?')) return;

        // 페이지 이동
        // window.location.href = `${id}`

    }

    function boardDelete (id) {
        if(!confirm('정말로 삭제하시겠습니까?')) return;
        // boardDelete(id);
    }

</script>
</body>
</html>