<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/chat/chat.js" defer></script>
    <script src="/public/js/socket/system_socket.js" defer></script>
    <script src="/public/js/socket/chat_socket.js" defer></script>
    <link rel="stylesheet" href="/public/css/chat/chatRoom.css">
</head>
<body>
    <div id="chat-box">
        <div id="chat-header">채팅방</div>
        <ul id="message-list"></ul>
        <div id="user-input">
            <input type="text" id="message-input" placeholder="메시지 입력">
            <button id="send-button" onclick="msgSend()">보내기</button>
        </div>
    </div>
    <div id="custom-context-menu" class="custom-context-menu">
        <ul>
            <div id="user-nickname"></div>
            <li id="user-info-show">유저 정보 보기</li>
            <li id="game">게임 신청</li>
        </ul>
    </div>
</body>
<script>
    const user_id = '<%= user_id %>'
    const nickname = '<%= nickname %>'
    const room_id = '<%= room_id %>'
    const category = '<%= category %>'
    const name_space = '/chat'
    const socket = io (name_space);
    let socketInfoList;
    let memberInfoList;
</script>
</html>