<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/public/css/chat/chatRoomList.css">
    <script src="/public/js/chat/chatRoomList.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div id="chat-room-list">
        <h1> <%= nickname %>님 채팅방 목록</h1>
        <ul id="room-list"></ul>
    </div>
</body>
<script>
    const user_id = '<%= id %>'
    const nickname = '<%= nickname %>'
    const listUl = document.querySelector("#lists");
    (async () => { await myChatRoomList() })()
</script>
</html>