<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
    <script src="/public/js/index_modal.js" defer></script>
    <link rel="stylesheet" href="/public/css/index_modal.css">
    <title>Document</title>
</head>
<body>
    <button onclick="cookieAuthCheck()">쿠키 인증 체크</button><br/>
    <button onclick="userLogOut()">로그아웃</button><br/>
    <button onclick="logoutKaKao()">카톡 로그아웃</button> <br/>
    <a href="/profile">프로필 페이지로 이동</a> <br/>
    <a href="/post/new">게시글 작성</a><br/>
    <a href="/post">게시글 목록</a><br/>
</body>

<script src="/public/js/index.js" defer></script>

</html>