<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
    <script src="/public/js/index_modal.js" defer></script>
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/index_modal.css">
</head>
<style>
footer {
  position: relative;
}
.footer-body{
    /* rgb(71.87.111) */
	background: #363636;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-left{
    display: inline-block;
	vertical-align: top;
}
.footer-git{
    display: inline-block;
	vertical-align: top;
}
.footer-space{
	display: inline-block;
	vertical-align: top;
}
.footer-body .footer-left{
	width: 40%;
}

.footer-body .footer-home{
	color:  #ffffff;
	margin: 20px 0 10px;
}

.footer-body .footer-home a{
	display:inline-block;
	line-height: 1.8;
  	font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-body .footer-team-name{
	color:  #ffffff;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-body .footer-git{
	width: 35%;
    
}
.footer-body .footer-git p{
	display: inline-block;
	color: #ffffff;
  	font-weight:400;
	vertical-align: middle;
	margin:0;
}
.footer-body .footer-git p a{
	color:  rgb(222, 222, 222);
	text-decoration: none;;
}

.footer-space{
	width: 20%;
}

.footer-project-info{
    color:  #ffffff;
}
.footer-project-info{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-project-info > span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 800;
	margin-bottom: 20px;
}

.logo{
    font-family: 'PartialSansKR-Regular', Courier, monospace;
    color: white;
    font-size:  xx-large;
}
@font-face {
    font-family: 'PartialSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@media (max-width: 800px) {
    .footer-body{
        min-width: 250px;
    }
	.footer-body .footer-left,
	.footer-body .footer-git,
	.footer-body .footer-space{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
}
</style>
<body>
    <div id="login_button_div">
        <button id='sign_up_visible_btn' onclick="signUpVisible()"> 회원가입 </button>
        <button id='sign_in_visible_btn' onclick="signInVisible()"> 로그인 </button>
    </div>
    <div id="after_login_div">
        <button onclick="cookieAuthCheck()">쿠키 인증 체크</button><br/>
        <a href="/profile">프로필 페이지로 이동</a> <br/>
        <button onclick="userLogOut()">로그아웃</button>
    </div>
    <div id="sign_up_div" hidden>
        <div>회원가입</div>
        <form name="signup-form">
            <input type="text" name="name" placeholder="이름"/><br/>
            <input type="text" name="userid" placeholder="아이디"><br/>
            <input type="password" name="pw" placeholder="비밀번호"><br/>
            <input type="email" name="email" placeholder="임시 비밀번호를 받을 email"><br/>

            <label for="gender">성별:</label>
            <select name="gender" id="gender">
                <option value="남성">남성</option>
                <option value="여성">여성</option>
                <option value="기타">기타</option>
            </select><br />

            <label for="birth">생년월일:</label>
            <select name="year" id="birth-year">
            </select>
            <select name="month" id="birth-month">
            </select>
            <select name="day" id="birth-day">
            </select><br />

            <button type="button" onclick="userSignUp()">회원가입</button>
        </form>
    </div>
    <br/>
    <div id="sign_in_div" hidden>
        <div>로그인</div>
        <form name="signin-form">
            <input type="text" name="userid" placeholder="아이디"><br/>
            <input type="password" name="pw" placeholder="비밀번호"><br/>
            <a href="/findpw">비밀번호 찾기</a>
            <button type="button" onclick="userSignin()">로그인</button>
        </form>
    </div>
    <br/>
    <button onclick="authKaKao()">카톡!</button> <br/>
    <button onclick="logoutKaKao()">카톡 로그아웃</button> <br/>
    <br/>
    <a href="/post/new">게시글 작성</a>

    <footer class="footer-body">
        <div class="footer-left">
            <div class="logo">chatta</div>
            <p class="footer-home">
              <a href="/" class="link-1">Home</a>
              <a class = "utube" href="/"> | <img src="../public/youtube icon.png" style="width: 20px; position: relative; top: 5px;"/></a>
              <a class = "facebook" href="/"> | <img src="../public/facebook icon.png" style="width: 20px; position: relative; top: 5px;"/></a>
            </p>    
            <hr>
            <p class="footer-project-info">
                <span>back-end socket project</span>
                실시간 채팅 및 동시 영상시청 웹 애플리케이션
                
            </p> 
        </p>
            <p class="footer-team-name">Copyright © 2023 socket-chat project</p>
        </div>
    
        <div class="footer-space">
        </div>

        <div class="footer-git">
          <div>
            <p>김민영</p>
          </div>
          <div>
            <p><a href="https://github.com/raddadda"><img src="../public/git icon.png" style="width: 20px; position: relative; top: 5px;"> github.com/raddadda</a>
          </div>
          <div>
            <p>김성제</p>
          </div>
          <div>
            <p><a href="https://github.com/raddadda"><img src="../public/git icon.png" style="width: 20px; position: relative; top: 5px;"> github.com/raddadda</a>
          </div>
          <div>
            <p>류승기</p>
          </div>
          <div>
            <p><a href="https://github.com/raddadda"><img src="../public/git icon.png" style="width: 20px; position: relative; top: 5px;"> github.com/raddadda</a>
          </div>
          <div>
            <p>정인근</p>
          </div>
          <div>
            <p><a href="https://github.com/raddadda"><img src="../public/git icon.png" style="width: 20px; position: relative; top: 5px;"> github.com/raddadda</a>
          </div>
          <div>
            <p>최영찬 </p>
          </div>
          <div>
            <p><a href="https://github.com/raddadda"><img src="../public/git icon.png" style="width: 20px; position: relative; top: 5px;"> github.com/raddadda</a>
          </div>
        </div>
    
       
    
    </footer>
</body>
<script>
    // ejs 문법으로 값을 받아와서 사용할 경우 + 확인용 코드
    let isLogin = JSON.parse('<%= isLogin %>')
    async function cookieAuthCheck(){
        const res = await axios({
            method:'post',
            url:'/auth'
        })
        console.log("auth res",res);
    }
</script>
<script src="/public/js/index_login.js" defer></script>
<script src="/public/js/index_socket.js" defer></script>

<script>
 
</script>

</html>