<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/login.css">
</head>
<body>
    <div class="login-container">
        <span class="header-logo logo"><a href="/">Chatta</a></span>
        <form name="signin-form" class="signin-form">
            <h2>로그인</h2>
            <input type="text" id="userid" placeholder="아이디" >
            <input type="password" id="pw" placeholder="비밀번호" >
            <br />
            <br />
            <button type="button" onclick="userSignin()" class="login">로그인</button>
            <button type="button" onclick="authKaKao()" class="Klogin">카카오톡으로 로그인</button> <br/>
            <br />
            <!-- <div class="remember-me">
                <input type="checkbox" id="remember" checked>
                <label for="remember">로그인 상태 유지</label>
            </div> -->
            <div class="signup">
                <a href="/register">계정 등록하기</a>
            </div>
            <div class="pwa">
                <a href="/findid" class="findpw">아이디 찾기</a> | <a href="/findpw" class="findpw">비밀번호 찾기</a>
            </div>    
        </form>
    </div>
</body>
<script>
</script>
<script src="/public/js/login.js" defer></script>
</html>