<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>new 페이지</h1>
    <form name="board-form">
        <label for="title">게시글 제목 : </label>
        <input type="text" id="title" name="title" placeholder="제목을 입력해주세요."><br/>
        <label for="content"> 내용 : </label>
        <input type="text" id="content" name="content" placeholder="내용을 입력해주세요."><br/>
        <label for="eventDate"> 홍보시간 : </label>
        <input type="date" id="eventDate" name="eventDate" placeholder="날짜를 입력해주세요."><br/>
        <label for="category"> 카테고리 : </label>
        <input type="text" id="category" name="category" placeholder="카테고리를 입력해주세요."><br/>
        <button type="button" onclick="boardCreate()">게시판 만들기</button>
    </form>

    <script>

        (function(){
            
           
    

        })()



    </script>
</body>
</html>