<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/public/js/profile/profileDelete.js" defer></script>
    <title>회원 탈퇴</title>
    <link rel="stylesheet" href="/public/css/profileDelete.css">
</head>

<body>
    <div class="header">
        <div class="header-content">
            <div class="header-title">
                회원 탈퇴
            </div>
        </div>
    </div>
    <p>아이디와 비밀번호를 다시 입력해주세요</p>
    <p>회원 탈퇴 시 복구할 수 없습니다</p>
    <form name="delete-form">
        <input type="hidden" id=id value="<%= user.user_id %>">
        <input type="hidden" id="login_id" value="<%= user.login_id %>">
        <input type="hidden" id="login_pw" value="<%= user.login_pw %>">
        <div class="user-info">
            <div class="Cid">
                <label for="Cid">아이디</label>
                <input type="text" id="Cid"><br />
            </div>
            <div class="Cpw">    
                <label for="Cpw">비밀번호</label>
                <input type="password" id="Cpw">
            </div>
            <div class="btn">
                <div class="destroy_btn">
                    <button type="button" onclick="deleteFunc()">탈퇴</button>
                </div>
                <div class="cancel_btn">
                    <button type="button" onclick="cancel()">취소</button>
                </div>
            </div>
        </form>
        <div class="result"></div>
    </div>
</body>

</html>