<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>비밀번호 변경</title>
</head>

<body>
    <h1>비밀번호 확인 및 변경</h1>
    <form name="pw-edit">
        <input type="hidden" id=id value="<%= user.user_id %>">
        <input type="hidden" id="login_id" value="<%= user.login_id %>">
        <input type="hidden" id="login_pw" value="<%= user.login_pw %>">
        현재 비밀번호 : <input type="password" id="Cpw"><br />
        변경할 비밀번호 : <input type="password" id="pw_edit"><br />
        비밀번호 확인 : <input type="password" id="pw_edit2">
        <button type="button" onclick="pwEdit()">변경</button>
        <div class="result"></div>
    </form>

    <script>
        async function pwEdit() {
            const resultBox = document.querySelector('.result')
            const form = document.forms['pw-edit']
            const data = {
                id: form.id.value,
                login_id: form.login_id.value,
                login_pw: form.login_pw.value,
                Cpw: form.Cpw.value,
                pw_edit: form.pw_edit.value,
                pw_edit2: form.pw_edit2.value,
            }
            const res = await axios({
                method: 'POST',
                url: '/profile/edit/pw',
                data,
            })
            if (res.data.result) {
                if (!confirm('변경하시겠습니까?')) {
                    return;
                }
                alert('변경완료')
                document.location.href = '/profile';
            } else {
                resultBox.textContent = (`${res.data.message}`)
            }
        }
    </script>
</body>

</html>