<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/public/js/pwEdit.js" defer></script>
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="/public/css/pwEdit.css">
</head>

<body>
    <div class="header">
        <div class="header-content">
            <div class="header-title">
                비밀번호 변경
            </div>
        </div>
    </div>
    <form name="pw-edit">
        <input type="hidden" id=id value="<%= user.user_id %>">
        <input type="hidden" id="login_id" value="<%= user.login_id %>">
        <input type="hidden" id="login_pw" value="<%= user.login_pw %>">
        <div class="center-info">
            <div class="Cpw">
                <label for="Cpw">현재 비밀번호</label>
                <input type="password" id="Cpw"><br />
            </div>
            <div class="pw_edit">
                <label for="pw_edit">변경할 비밀번호</label>
                <input type="password" id="pw_edit"><br />
            </div>
            <div class="pw_edit2">
                <label for="pw_edit2">비밀번호 확인</label>
                <input type="password" id="pw_edit2">
            </div>
            <div class="btn">
                <div class="edit_btn">
                    <button type="button" onclick="pwEdit()">변경</button>
                </div>
                <div class="cancel_btn">
                    <button type="button" onclick="cancel()">취소</button>
                </div>
            </div>
            <div class="result"></div>
        </div>
    </form>
</body>

</html>