<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
    <script src="/public/js/pwEdit.js" defer></script>
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link rel="stylesheet" href="/public/css/pwEdit.css">
</head>

<body>
    <header class="main-header">
        <div class="header-layout">
            <span class="header-logo logo"><a href="/">Chatta</a></span>
            <ul class="header-menu">
                <li><a href="/">게시판 리스트</a></li>
            </ul>
            <div class="header-profie">
                <div class="profile" onclick="toggleHeaderProfile()">
                    <img src="<%= profileImage %>" alt="profile_image" />
                </div>
                <ul class="header-profile-tab">
                    <li id="mobileView"><a href="/">게시판 리스트</a> </li>
                    <li><a href="/profile">프로필</a> </li>
                    <li><button type="button" onclick="">로그아웃</button></li>
                </ul>
            </div>
        </div>
    </header>
    <form name="pw-edit">
        <input type="hidden" id=id value="<%= user.user_id %>">
        <input type="hidden" id="login_id" value="<%= user.login_id %>">
        <input type="hidden" id="login_pw" value="<%= user.login_pw %>">
        <div class="center-info">
            <div class="Cpw">
                <label for="Cpw">현재 비밀번호</label>
                <input type="password" id="Cpw" placeholder="현재 비밀번호"><br />
            </div>
            <div class="pw_edit">
                <label for="pw_edit">변경할 비밀번호</label>
                <input type="password" oninput="pwCheck()" id="pw_edit" placeholder="변경할 비밀번호"><br />
            </div>
            <div class="pw_edit2">
                <input type="password" oninput="pwCheck()" id="pw_edit2" placeholder="비밀번호 확인">
            </div>
            <div class="btn">
                <div class="edit_btn">
                    <button type="button" onclick="pwEdit()">변경</button>
                </div>
                <div class="cancel_btn">
                    <button type="button" onclick="cancel()">취소</button>
                </div>
            </div>
            <div id="pwtx"></div>
            <div class="result"></div>
        </div>
    </form>
    <footer class="footer-body">
        <div class="footer-left">
            <div class="logo">chatta</div>
            <p class="footer-home">
                <a href="/" class="link-1">Home</a>
                <a class="utube" href="/"> | <img
                        src="https://kdt9-justin.s3.ap-northeast-2.amazonaws.com/youtubeicon.png"
                        style="width: 20px; position: relative; top: 5px;" /></a>
                <a class="facebook" href="/"> | <img
                        src="https://kdt9-justin.s3.ap-northeast-2.amazonaws.com/facebookicon.png"
                        style="width: 20px; position: relative; top: 5px;" /></a>
            </p>
            <hr>
            <p class="footer-project-info">
                <span>back-end socket project</span>
                실시간 채팅 및 동시 영상시청 웹 애플리케이션
            </p>
            </p>
            <p class="footer-team-name">Copyright © 2023 socket-chat project</p>
        </div>

        <div class="footer-space"></div>

        <div class="footer-git">
            <div>
                <p>김민영</p>
            </div>
            <div>
                <p><a href="https://github.com/raddadda"><img
                            src="https://kdt9-justin.s3.ap-northeast-2.amazonaws.com/giticon.png"
                            style="width: 20px; position: relative; top: 5px;"> github.com/raddadda</a>
            </div>
            <div>
                <p>김성제</p>
            </div>
            <div>
                <p><a href="https://github.com/raddadda"><img
                            src="https://kdt9-justin.s3.ap-northeast-2.amazonaws.com/giticon.png"
                            style="width: 20px; position: relative; top: 5px;"> github.com/raddadda</a>
            </div>
            <div>
                <p>류승기</p>
            </div>
            <div>
                <p><a href="https://github.com/raddadda"><img
                            src="https://kdt9-justin.s3.ap-northeast-2.amazonaws.com/giticon.png"
                            style="width: 20px; position: relative; top: 5px;"> github.com/raddadda</a>
            </div>
            <div>
                <p>정인근</p>
            </div>
            <div>
                <p><a href="https://github.com/raddadda"><img
                            src="https://kdt9-justin.s3.ap-northeast-2.amazonaws.com/giticon.png"
                            style="width: 20px; position: relative; top: 5px;"> github.com/raddadda</a>
            </div>
            <div>
                <p>최영찬 </p>
            </div>
            <div>
                <p><a href="https://github.com/raddadda"><img
                            src="https://kdt9-justin.s3.ap-northeast-2.amazonaws.com/giticon.png"
                            style="width: 20px; position: relative; top: 5px;"> github.com/raddadda</a>
            </div>
        </div>
    </footer>
    <script src="/public/js/index.js" defer></script>
    <script src="/public/js/board/board_CRUD.js"></script>
    <script src="/public/js/board/board_render.js"></script>
    <script src="/public/js/board/board_render_func.js"></script>
    <script src="/public/js/board/board_book_mark.js"></script>
    <script src="/public/js/profile.js"></script>
    <script src="/public/js/header.js"></script>
</body>

</html>