

.main-content {
    width: 100%; min-height: 850px; box-sizing: border-box;
    padding-top: 2.5em; padding-bottom: 5em;
    background-color: rgb(231, 231, 231)

}
.main-content > .content-layout {
    width: 88%; margin: auto;
}

.main-content > .content-layout > .post-create {
    width: 100%; display: flex; justify-content: end; margin-bottom: 2em;

}
.main-content > .content-layout > .post-create > a {
    text-decoration: none; color: #000; line-height: 40px; box-sizing: content-box;
    width: 150px; height: 40px; background-color: rgb(106, 118, 138); border: 3px solid #ccc;
    border-radius: 9px; padding: 0.2em; font-size: 0.7em; font-weight: bold; color: #fff;
    text-align: center; display: block; cursor: pointer;

}

.main-content > .content-layout > .post-create > a:hover {
    border-color: rgb(71,87,111); background-color: rgb(71,87,111);

}