body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: #007bff;
    padding: 10px 0;
    color: white;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-title {
    font-size: 24px;
}

/* 상단 프로필 수정 버튼 */
.profile-edit-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* 중앙 사용자 정보 섹션 */
.user-info {
    background-color: #fff;
    padding: 70px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    max-width: 1200px;
    justify-content: space-around;
}

.left-section {
    text-align: center;
    margin-right: 20px;
}

/* 프로필 사진 */
.profile-picture img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

/* 사용자 정보 */
.user-nickname {
    text-align: left;
    margin-top: 10px;
}

.user-nickname h1 {
    font-size: 20px;
    margin: 0;
}

.right-section p {
    font-size: 16px;
    margin: 5px 0;
}

/* 친구 수 및 게시물 작성 버튼 */
.friend-info {
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.friend-count {
    font-size: 16px;
    margin: 0;
}

.friend-info button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

/* 하단 섹션 (채팅방, 북마크, 일정) */
.bottom-section {
    position: relative;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.categories-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* 카테고리 버튼 */
.category-button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: gray;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 0;
    display: block;
    text-align: center;
}

.category-button.active {
    color: black;
}

.category {
    display: block;
    margin-bottom: 20px;
    flex: 1;
}

.category ul {
    background-color: #fff;
    list-style-type: none;
    padding: 0;
}
.category-list ul {
    list-style-type: none;
    padding: 0;
}

.category-list li {
    font-size: 16px;
    margin: 5px 0;
}

.category-list li a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

.category-list li a:hover {
    color: #0056b3;
}