body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;   
}

.header {
    background-color: #3498db;
    padding: 10px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-title {
    color: #fff;
    font-size: 24px;
}

/* p 태그 스타일 */
p {
    font-size: 18px; 
    color: #333; 
    margin-bottom: 20px; 
    text-align: center;
    margin-top: 20px;
}

/* 유저 인풋 영역 */
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* 버튼 스타일 */
.btn {
    display: flex;
}

.findId_btn button {
    background-color: rgb(123,142,169);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.findId_btn button:hover {
    background-color: rgb(71,87,111);
}

.cancel_btn button {
    background-color: #c6c6c6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 10px;
}
.cancel_btn button:hover {
    background-color: #c8c8c8;
}

/* result */
.result {
    display: none;
    font-weight: bold;
    font-size: 16px;
    color: #e74c3c;
    margin-top: 10px;
}

/* .resultText {
    text-align: center;
} */

a {
    display: inline-block;
    background-color: rgb(71,87,111);
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    margin: 10px 15px 10px 0;
    font-size: 16px;
}

a:hover {
    background-color: rgb(71,87,111);
}
/* result 애니메이션 */
.result.show {
    animation: fadeIn 0.3s ease-in-out;
    display: block; 
}

/* fadeIn 효과 */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
